/* Basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #038236;
  padding: 20px;
  
}

/* Navigation Menu Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

nav li {
  display: inline-block;
  margin-right: 20px;
  
  
}

nav li a {
  text-decoration: none;
  color: rgb(210, 205, 205);
  font-weight: bold;
  
}

nav li a:hover {
  color: #e16161;
}

/* Dropdown Menu Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
